/* Color Pallete: https://colorhunt.co/palette/fcf8e8d4e2d4ecb390df7861 */

body {
  margin: 0;
}

.top-container {
  background-color: #d4e2d4;
}

h1 {
  margin-top: 0;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}
